 [Unit]
 Description=LCD Screen Service
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/user/Documents/code/waveshareLCD
 ExecStart=/usr/bin/python3 /home/user/Documents/code/waveshareLCD/main.py

 [Install]
 WantedBy=multi-user.target
